# Handling Missing values

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read in all our data
nfl_data = pd.read_csv(r'C:\Users\Lenovo\Documents\Jupyter notbook\PPG_data\GamingRecord.csv')

In [3]:
np.random.seed(0)

In [4]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,PlayTimediff,SideofField,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,airWPA,yacWPA,Season
0,10-09-2009,2009091000,1,1,NaN,15:00,3600,0,TEN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,10-09-2009,2009091000,1,1,1.0,14:53,3593,7,PIT,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,10-09-2009,2009091000,1,1,2.0,14:16,3556,37,PIT,NaN,0.551088,0.044891,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,10-09-2009,2009091000,1,1,3.0,13:35,3515,41,PIT,-5.031425,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,10-09-2009,2009091000,1,1,4.0,13:27,3507,8,PIT,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [5]:
#get the number of missing data points per column
missing_values_count =nfl_data.isnull().sum()

In [6]:
#look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date            0
GameID          0
Drive           0
qtr             0
down            1
time            0
TimeUnder       0
PlayTimediff    0
SideofField     0
yacEPA          3
dtype: int64

In [7]:
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()
percent_missing = (total_missing/total_cells)*100
print(percent_missing )

10.526315789473683

In [8]:
#look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date            0
GameID          0
Drive           0
qtr             0
down            1
time            0
TimeUnder       0
PlayTimediff    0
SideofField     0
yacEPA          3
dtype: int64

Drop missing values

In [9]:
nfl_data.dropna()

,Date,GameID,Drive,qtr,down,time,TimeUnder,PlayTimediff,SideofField,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,airWPA,yacWPA,Season
1,10-09-2009,2009091000,1,1,1.0,14:53,3593,7,PIT,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
3,10-09-2009,2009091000,1,1,3.0,13:35,3515,41,PIT,-5.031425,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009

In [18]:
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,time,TimeUnder,PlayTimediff,SideofField,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,Season
0,10-09-2009,2009091000,1,1,15:00,3600,0,TEN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,2009
1,10-09-2009,2009091000,1,1,14:53,3593,7,PIT,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,2009
2,10-09-2009,2009091000,1,1,14:16,3556,37,PIT,0.551088,0.044891,0.510793,0.489207,0.551088,-0.040295,2009
3,10-09-2009,2009091000,1,1,13:35,3515,41,PIT,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,2009
4,10-09-2009,2009091000,1,1,13:27,3507,8,PIT,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,2009

In [11]:
#just how much data did we lose?
print("Columns in original dataset: %d\n" %nfl_data.shape[1])
print("Columns with na's dropped: %d" %columns_with_na_dropped.shape[1])

Columns in original dataset: 19

Columns with na's dropped: 15

Filling in missing values automatically

In [21]:
subset_nfl_data=nfl_data.loc[:,'Home_WP_pre':'Season'].head()
subset_nfl_data

,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,0.551088,0.044891,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [22]:
#replace all NA's with 0
subset_nfl_data.fillna(0)

,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,0.551088,0.044891,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [23]:
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_-post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,0.551088,0.044891,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,0.510793,0.482070,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009